<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>核查设置</title>
  <link th:href="@{/css/main_style.css}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen"/>
  <script type="text/javascript" th:src="@{/js/jquery-1.12.3.js}"></script>
</head>

<body>
<div class="page_con">
  <form class="check-config-from" id="check-config-from">
    <div class="form-group">
      <label class="w60">选择核查地市</label>
      <select style="width: 180px" name="city">
        <option th:each="city,iterStat : ${cityList}" th:attr="name=${city},value=${city},selected=${#strings.containsIgnoreCase(citySelect,city)}" th:text="${city}"></option>
      </select>
    </div>
    <div class="form-group" style="padding-top: 20px">
      <label for="check-box-group" style="display: inline-block;vertical-align:top">选择设备制式</label>
      <div class="check-box-group" id="check-box-group">
        <div th:each="busiDict : ${busiDictList}" id="${busiDict.id}">
          <input type="checkbox" name="busiDict"  th:attr="value=${busiDict.id}" th:text="${busiDict.name}" th:checked="${busiDict.checked}"></input>
        </div>
      </div>
    </div>
    <div>
      <!-- 工单id -->
      <input type="hidden" th:value="${orderId}" name="orderId" id="orderId"/>
      <input type="hidden" th:value="${userId}" name="createUserId"/>
      <input type="hidden" th:value="${busiId}" name="busiId"/>
      <input type="hidden" th:value="${status}" name="status"/>
    </div>
  </form>
</div>
</body>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.serializejson.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer/layer.js}"></script>
<script type="text/javascript">
    //<![CDATA[
          function saveData(fun,orderId,status) {
              console.log('saveData=====');
              var data=decodeURIComponent($('#check-config-from').serialize(),true);
              console.log(data);
              $.ajax({
                  type: "post",
                  url: "/order/"+$("#orderId").val()+"/std",
                  dataType: "json",
                  data:data,
                  success: function (result) {
                      if(result.success) {
                          console.log('success=====');
                          if(fun&&typeof(fun)=="function"){
                              fun(orderId,status);
                          }
                      }else{
                          layer.msg(result.message,{icon:2});
                      }
                  },
                  error: function (msg) {
                      layer.msg('execute updateOrderStatus failed:' + msg);
                  }
              });
          }
    //]]>
</script>
</html>
