<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>核查设置</title>
  <link th:href="@{/css/main_style.css}" rel="stylesheet" type="text/css" />
  <script type="text/javascript" th:src="@{/js/jquery-1.12.3.js}"></script>
</head>

<body>
<div class="page_con">
  <table width="70%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><!--左列-->
        <div class="blk_check">
          <h3>待选核查地市</h3>
          <ul class="list_check">
            <li>
              <input type="checkbox" name="CheckboxGroup1" value="安阳市" id="CheckboxGroup1_0" />
              <label>安阳市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="南阳市" id="CheckboxGroup1_1" />
              <label>南阳市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="开封市" id="CheckboxGroup1_2" />
              <label>开封市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="平顶山市" id="CheckboxGroup1_3" />
              <label>平顶山市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="洛阳市" id="CheckboxGroup1_4" />
              <label>洛阳市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="焦作市" id="CheckboxGroup1_5" />
              <label>焦作市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="新乡市" id="CheckboxGroup1_6" />
              <label>新乡市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="周口市" id="CheckboxGroup1_7" />
              <label>周口市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="信阳市" id="CheckboxGroup1_8" />
              <label>信阳市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="驻马店市" id="CheckboxGroup1_9" />
              <label>驻马店市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="漯河市" id="CheckboxGroup1_10" />
              <label>漯河市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="商丘市" id="CheckboxGroup1_11" />
              <label>商丘市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="三门峡市" id="CheckboxGroup1_12" />
              <label>三门峡市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="许昌市" id="CheckboxGroup1_13" />
              <label>许昌市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="济源市" id="CheckboxGroup1_14" />
              <label>济源市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup1_" value="鹤壁市" id="CheckboxGroup1_15" />
              <label>鹤壁市</label>
            </li>
          </ul>
        </div>

        <!--左列--></td>
      <td width="40" align="center"><ul class="bt_arrow">
        <li><a href="#"><img th:src="@{/images/ico_arrow_right.png}" width="20" height="20" /></a></li>
        <li><a href="#"><img th:src="@{/images/ico_2arrow_right.png}" width="20" height="20" /></a></li>
        <li><a href="#"><img th:src="@{/images/ico_2arrow_left.png}" width="20" height="20" /></a></li>
        <li><a href="#"><img th:src="@{/images/ico_arrow_left.png}" width="20" height="20" /></a></li>
      </ul></td>
      <td><!--右列-->

        <div class="blk_check">
          <h3>已选核查地市</h3>
          <ul class="list_check">
            <li>
              <input type="checkbox" name="CheckboxGroup2" value="安阳市" id="CheckboxGroup2_0" />
              <label>安阳市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="南阳市" id="CheckboxGroup2_1" />
              <label>南阳市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="开封市" id="CheckboxGroup2_2" />
              <label>开封市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="平顶山市" id="CheckboxGroup2_3" />
              <label>平顶山市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="洛阳市" id="CheckboxGroup2_4" />
              <label>洛阳市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="焦作市" id="CheckboxGroup2_5" />
              <label>焦作市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="新乡市" id="CheckboxGroup2_6" />
              <label>新乡市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="周口市" id="CheckboxGroup2_7" />
              <label>周口市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="信阳市" id="CheckboxGroup2_8" />
              <label>信阳市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="驻马店市" id="CheckboxGroup2_9" />
              <label>驻马店市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="漯河市" id="CheckboxGroup2_10" />
              <label>漯河市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="商丘市" id="CheckboxGroup2_11" />
              <label>商丘市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="三门峡市" id="CheckboxGroup2_12" />
              <label>三门峡市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="许昌市" id="CheckboxGroup2_13" />
              <label>许昌市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="济源市" id="CheckboxGroup2_14" />
              <label>济源市</label>
            </li>
            <li>
              <input type="checkbox" name="CheckboxGroup2_" value="鹤壁市" id="CheckboxGroup2_15" />
              <label>鹤壁市</label>
            </li>
          </ul>
        </div>

        <!--右列--></td>
    </tr>
  </table>
</div>
</body>
</html>
